*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.SideContent{
    padding: 10px;
    border-bottom: 3px solid var(--BorderColor);
}

.SideContent a{
    text-decoration: none;
    font-size: var(--FontSizeXLarge);
    color: var(--TextColorActive);
}

.ButtonFeild{
    padding: 10px;
}

.ButtonFeild button{
    border-radius: 50px;
    background-color: var(--BackgroundColor);
    color: var(--TextColorActive);
    font-size: var(--FontSizeXLarge);
    border: 4px solid var(--ActiveBorderColor);
}