.product-info {
    width: 100%;
    display: flex;
    gap: 20px;
    background-color: var(--InputBackgroundColor);
    padding: 20px;
    border-radius: var(--BorderRadiusLarge);
    border: 1px solid var(--BorderColor);
    position: relative;

  }
  
  .image-box {
    width: 200px;
    height: 200px;
    background-color: var(--PlaceholderColor);
    border-radius: var(--BorderRadiusNormal);
    margin: 1px;


  }
  
  .product-image {
    width: 100%;
    height: 100%;
  }
  
  .info-text p {
    margin: 20px 0;
    color: var(--TextColor);
    font-size: 22px;
  }
  