.orderfeedbackbox{
    /* display: flex;
    flex-direction: column;
    margin: 5px;
    border-radius: var(--BorderRadiusNormal);
    border: 1px solid var(--PlaceholderColor); */

    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--InputBackgroundColor);
    padding: 20px;
    border-radius: var(--BorderRadiusLarge);
    border: 1px solid var(--BorderColor);
    position: relative;

  }
  
  .orderstars {
    font-size: var(--FontSizeXLarge);
  }
  
  .star {
    margin-right: 5px;
  }
  
  .ordergreen-star {
    color: var(--SecondaryColor);
  }
  
  .ordergrey-star {
    color: var(--PlaceholderColor);
  }

  .orderfeedbackbox p{
    color: var(--SecondaryColor) ;
    font-size: var(--FontSizeNormal);
    padding: 8px;
  }
  