.subHeaderContainer {
  text-align: center;
  display: flex;
  padding: 20px 10%;
  height: fit-content;
}

.subHederTopic {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.subHederTopic h2 {
  color: var(--PrimaryColorDark);
  font-weight: bold;
  font-size: 1.5em;
}

.subHeaderCards {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.subHeaderCard {
  text-align: center;
  max-width: 200px;
}

.subHeaderIcon {
  width: auto;
  height: 50px;
  margin-bottom: 10px;
  filter: invert(27%) sepia(16%) saturate(662%) hue-rotate(89deg) brightness(89%) contrast(98%);
}



.subHeaderCard h3 {
  font-size: 1.2em;
  color: var(--TextColorActive);
}

.subHeaderCard p {
  font-size: 0.9em;
  color: #333;
}


@media only screen and (max-width: 1201px) {
  .subHeaderContainer {
    padding: 10px 5%;
  }
}

/* Media Query for Tablets and Smaller Devices (768px and Below) */
@media only screen and (max-width: 768px) {
  .subHeaderContainer {
    display: none;
  }
  
}