.buyerPageContainer {
    width: 100%;
    padding: 20px 10%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.buyerPageContainerTop,
.buyerPageContainerBottom {
    width: 100%;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.buyerPageContainerTopLeft,
.buyerPageContainerTopRight {
    width: 50%;
    height: 400px;
}

.tabsContainer {
    display: flex;
    width: 100%;
    gap: 20px;
    position: relative;
    background-color: white;
}

.buyerTabs {
    display: flex;
    flex-direction: column;
    width: 15%;
    gap: 10px;
    position: sticky;
    top: 0;
    align-self: flex-start;
    background-color: white;
    z-index: 2000;
    padding-top: 20px;
    padding-bottom: 20px;
}

.tabButton {
    padding: 10px;
    text-align: right;
    background-color: transparent;
    color: var(--PrimaryColorDark);
    cursor: pointer;
    font-size: 22px;
    transition: all 0.3s ease;
}

.tabButton:hover {
    background-color: transparent;
    color: var(--SecondaryColor);
}

.activeTab {
    color: var(--PrimaryColor);
    font-weight: 900;
}

.tabContent {
    padding: 10px;
    width: 85%;
    z-index: 1000;
}

.verticalDivider {
    border-right: 2px solid var(--PlaceHolderColor);
}

@media only screen and (max-width: 1601px) {

    .buyerPageContainerTop,
    .tabsContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .buyerPageContainerTopLeft,
    .buyerPageContainerTopRight {
        width: 100%;
        height: 400px;
    }

    .buyerTabs {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 40px;
        background-color: white;
    }

}

@media only screen and (max-width: 1201px) {
    .buyerPageContainer {
        width: 100%;
        padding: 20px 5%;
    }
}

@media only screen and (max-width: 768px) {
    .buyerPageContainer {
        width: 100%;
        padding: 20px 2%;
    }
}