#signUpPageContainer{
    height: 100vh;
    padding: 0 10%;
    display: flex;
}

.leftDiv{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightDiv{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 0px 3%;
}