.feedback-container {
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}

.feedbackTitle{
    color: var(--PrimaryColorDark);
}

.rating-section {
    display: flex;
    align-items: end;
    border: 0;
    margin-bottom: 0;
}

.stars {
    display: flex;
    cursor: pointer;
}

.filled-star {
    color: #4CAF50;
    font-size: 3rem;
    margin-right: 5px;
}

.empty-star {
    color: #ccc;
    font-size: 3rem;
    margin-right: 5px;
}

.rating-value {
    margin-left: 10px;
    font-size: 5rem;
    color: #4CAF50;
}

.feedbackTextarea {
    width: 100%;
    height: 80px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.submit-button-div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.case-button{
    width: 25%;
    padding: 10px;
    border: 2px solid var(--SecondaryColor);
    background-color: transparent;
    color: var(--SecondaryColor);
    border-radius: 5px;
    cursor: pointer;
}

.case-button:hover {
    background-color: var(--PrimaryColor);
    border: 2px solid var(--PrimaryColor);
    color: var(--White);
}

.submit-button {
    width: 25%;
    padding: 10px;
    background-color: var(--SecondaryColor);
    border: 2px solid var(--SecondaryColor);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: var(--PrimaryColor);
    border: 2px solid var(--PrimaryColor);
}