#navContent{
    background-color: var(--PrimaryColorDark);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10%;
}

#navContent a img{
    height: 40px;
    object-fit: cover;
    margin-left: -20px;
}

#menuLinks{
    display: flex;
    align-items: center;
    gap: 30px;
}

#signInButton{
    outline: 1px solid var(--White);
    padding: 10px 20px;
    border-radius: 50px;
    color: white;
    text-decoration: none;    
}