.item-image-slider-container {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Aligns items at the start */
  position: relative;
  overflow: hidden;
}

.small-images {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Aligns images at the start */
  align-items: flex-start;
  margin-right: 10px;
  width: 20%; /* Adjust width based on desired layout */
}

.small-image {
  width: 100%; /* Ensure small images fill the column width */
  aspect-ratio: 1/1;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  border-radius: 5px;
  margin-bottom: 10px; /* Space between small images */
}

.small-image.active,
.small-image:hover {
  opacity: 1;
}

.large-image {
  position: relative;
  width: 75%; /* Adjust based on your desired layout */
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: var(--BoxShadow);
}

.large-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Magnifier styles */
.magnifier {
  display: none;
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
  background-repeat: no-repeat;
  pointer-events: none;
  transform: translate(-50%, -50%);
}
