.buyerRateContainer {
    width: 100%;
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--InputBackgroundColor);
    padding: 20px;
    border-radius: var(--BorderRadiusLarge);
    border: 1px solid var(--BorderColor);
    position: relative;
}

/* Rating Section */
.buyerRatingSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buyerStars {
    display: flex;
}

.star.green {
    color: var(--SecondaryColor);
}

.star {
    font-size: 80px;
    color: var(--PlaceholderColor);
    margin-right: 5px;
}

.ratingSection {
    text-align: right;
}

.ratingScore {
    font-size: 50px;
    color: var(--SecondaryColor);
}

.ratingText {
    font-size: var(--FontSizeNormal);
    color: var(--SecondaryColor);
}

.feedbackLink {
    color: var(--PlaceholderColor);
    font-size: var(--FontSizeNormal);
    text-decoration: none;
    cursor: pointer;
}

.feedbackLink:hover {
    text-decoration: underline;
}

.horizontalLine {
    border-bottom: 2px solid var(--BorderColor);
    width: 100%;
}

.verticalLine {
    border-left: 2px solid var(--BorderColor);
    height: 100%;
}

/* Purchased and Upcoming Items Section */
.itemsSection {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.totalItems {
    padding-right: 10px;
}

.totalItems h3,
.upcomingItems h3 {
    color: var(--PrimaryColorDark);
    margin-bottom: 10px;
}

.itemCount {
    font-size: 70px;
    color: var(--SecondaryColor);
    font-weight: bold;
    text-align: center;
}

.upcomingItems {
    width: 60%;

}

.subTopics {
    color: var(--PlaceholderColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.itemRowScroller {
    overflow-y: scroll;
    max-height: 90px;
}

.itemRowScroller::-webkit-scrollbar {
    visibility: hidden;
}

.itemRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    color: var(--PrimaryColorDark);
    font-size: var(--FontSizeSmall);
}


.itemRow>span {
    font-size: 1rem;
}

.remainingTime {
    color: var(--PrimaryColorDark);
}

.exceedLink {
    color: var(--SecondaryColor);
    text-decoration: none;
    font-size: var(--FontSizeSmall);
}

.exceedLink:hover {
    text-decoration: underline;
}

.star {
    display: inline-block;
    position: relative;
    /* font-size: 24px; */
    color: lightgray;
  }
  
  .star.full {
    color: var(--SecondaryColor);
  }
  
  .star.fractional {
    position: relative;
    display: inline-block;
    font-size: 80px;
  }
  
  .star.fractional .starFull {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--SecondaryColor);
    overflow: hidden;
    font-size: 80px;
  }
  
  .star.fractional .starEmpty {
    color: lightgray;
    font-size: 80px;
  }