*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.first-container{
    height: auto;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;

}

.widthSetter{
    margin: 10px;
    width: 50%;
    height: auto;
}

.formSelection{
    height: auto;
}

.category-pane{
    display: flex;
    background-color: var(--BackgroundColor);
    margin-top: 20px;
}

.sidebar{
    padding: 20px;
    padding-left: 10%;
    border-right: 3px solid var(--BorderColor);
}