/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  /* Color Palette */
  --PrimaryColor: #55e971;
  --PrimaryColorLight: #e9fcef; /* Light variation for background */
  --PrimaryColorDark: #1e4732; /* Darker variation for footer or dark sections */
  --PrimaryColorDark-rgb: 30, 71, 50;
  
  --SecondaryColor: #0bbf64;
  --SecondaryColor-rgb: 11, 191, 100;
  --TextColor: #333; /* Neutral dark color for text */
  --White: #fff; /* White color for contrast */
  --BackgroundColor: #f8f9fa; /* Light neutral background color */
  --BorderColor: #ddd; /* Light border color */

  --TiataryColor: hsl(22.63, 67.61%, 51.57%);
  --InputBackgroundColor: #ffffff; /* Default input field background */
  --PlaceholderColor: #A5A5A5; /* Placeholder text color */
  --InputBorderColor: #C8E6C9; /* Default border color */
  --ActiveBorderColor: #388E3C; /* Border color when input is active */
  --TextColorActive: #2E7D32; /* Text color when input is active */
  --ActiveInputBackgroundColor: #ffffff; /* Background color when input is active */

  /* Font Sizes */
  --FontSizeSmall: 0.875rem; /* 14px */
  --FontSizeNormal: 1rem; /* 16px */
  --FontSizeLarge: 1.25rem; /* 20px */
  --FontSizeXLarge: 1.5rem; /* 24px */
  --FontSizeXXLarge: 2rem; /* 32px */
  --FontSizeTitle: 2.5rem; /* 40px */

  /* Spacing */
  --SpacingSmall: 0.5rem; /* 8px */
  --SpacingNormal: 1rem; /* 16px */
  --SpacingLarge: 1.5rem; /* 24px */
  --SpacingXLarge: 2rem; /* 32px */
  
  /* Border Radius */
  --BorderRadiusSmall: 0.125rem; /* 2px */
  --BorderRadiusNormal: 0.25rem; /* 4px */
  --BorderRadiusLarge: 0.5rem; /* 8px */
  --BorderRadiusRound: 50%; /* Perfect round elements */

  /* Box Shadows */
  --BoxShadowLight: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --BoxShadowMedium: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  --BoxShadowHeavy: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

  /* Transition Durations */
  --TransitionFast: 0.2s;
  --TransitionNormal: 0.3s;
  --TransitionSlow: 0.5s;
}


body{
  background-color: var(--BackgroundColor);
  
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.containerHomePage{
  padding: 10px 10%
}