.dashboard-summary {
    display: flex;
    flex-direction: column;
    background-color: var(--BackgroundColor);
    padding: 20px;
    border-radius: var(--BorderRadiusLarge);
    max-width: 600px;
    margin: auto;
    font-family: Arial, sans-serif;
    border: 1px solid var(--BorderColor);
    height: 50vh;
  }
  
  .rating-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 3px solid var(--BorderColor);
  }
  
  .stars {
    display: flex;
  }
  
  .star {
    font-size: 80px;
    color: var(--PlaceholderColor);
    margin-right: 5px;
  }
  
  .star.filled {
    color: var(--PrimaryColor);
  }
  
  .rating-info {
    text-align: right;
  }
  
  .rating-value {
    font-size: var(--FontSizeTitle);
    color: var(--PrimaryColor);
  }
  
  .rating-users {
    font-size: var(--FontSizeNormal);
    color: var(--TextColor);
  }
  
  .view-more {
    font-size: var(--FontSizeNormal);
    color: var(--PlaceholderColor);
    text-decoration: none;
    cursor: pointer;
  }
  
  .summary-section {
    display: flex;
    justify-content: space-between;
  }
  
  .border{
    border-right: 3px solid var(--BorderColor);
  }

  .summary-item {
    text-align: center;
    flex: 1;
  }
  
  .summary-value {
    font-size: var(--FontSizeTitle);
    color: var(--PrimaryColor);
  }
  
  .summary-label {
    font-size: 14px;
    color: var(--TextColor);
  }  