
.containerHead h2 {
  color: var(--PrimaryColorDark);
}

.containerHead p {
  color: var(--PlaceholderColor);
}

.scrollerWrapperVertical {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scrollerContainerVertical {
  margin-top: 20px;
  height: 400px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  cursor: grab;
}

.scrollerContainerVertical:active {
  cursor: grabbing;
}

.scrollerContainerVertical::-webkit-scrollbar {
  display: none;
}

.scrollerContainerVertical .itemBox {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
}

button{
  background-color: none;
}

/* .arrow {
  position: absolute;
  cursor: pointer;
  transform: translateY(-50%);
  z-index: 10;
  scale: 1.5;
}

.topArrow {
  top: 0;
}

.bottomArrow {
  top: 440px;
} */
.arrow {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.topArrow {
  top: 0;
}

.bottomArrow {
  bottom: -20px;
} 

.arrow:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.arrow:active {
  transform: scale(0.9);
}

.arrow svg {
  color: white; 
  font-size: 24px;
}
